---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}


<h1>Modules</h1>

<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
  </style>
  <table class="tg">
  <thead>
    <tr>
      <th class="tg-0pky">Academic Year</th>
      <th class="tg-0pky">Term</th>
      <th class="tg-0pky">Module</th>
      <th class="tg-0pky">Role</th>
      <th class="tg-0pky">Duties</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td class="tg-0pky">2023-2024</td>
      <td class="tg-0pky">Autumn</td>
      <td class="tg-0pky">Mathematics for Computer Scientists; Developing Maintainable Software; Machine Learning</td>
      <td class="tg-0pky">Teaching Associate</td>
      <td class="tg-0pky">Teaching support</td>
    </tr>
    <tr>
      <td class="tg-0pky">2022-2023</td>
      <td class="tg-0pky">Spring</td>
      <td class="tg-0pky">Fundamentals of Artificial Intelligence</td>
      <td class="tg-0pky">Teaching Associate</td>
      <td class="tg-0pky">Co-convenor</td>
    </tr>
    <tr>
      <td class="tg-0pky">2022-2023</td>
      <td class="tg-0pky">Spring</td>
      <td class="tg-0pky">Data Modelling and Analysis;<br>Simulation and Optimisation for Decision Support</td>
      <td class="tg-0pky">Teaching Associate</td>
      <td class="tg-0pky">Teaching support</td>
    </tr>
    <tr>
      <td class="tg-0pky">2022-2023</td>
      <td class="tg-0pky">Autumn</td>
      <td class="tg-0pky">Mathematics for Computer Scientists;<br>Programming and Algorithms;<br>Systems and Architecture;<br>Computer Fundamentals;<br>Operating Systems &amp; Concurrency;<br>Developing Maintainable Software</td>
      <td class="tg-0pky">Teaching Associate</td>
      <td class="tg-0pky">Teaching support</td>
    </tr>
    <tr>
      <td class="tg-0pky">2021-2022</td>
      <td class="tg-0pky">Spring</td>
      <td class="tg-0pky">Fundamentals of Artificial Intelligence</td>
      <td class="tg-0pky">Teaching Assistant</td>
      <td class="tg-0pky">Teaching support</td>
    </tr>
    <tr>
      <td class="tg-0pky">2021-2022</td>
      <td class="tg-0pky">Autumn</td>
      <td class="tg-0pky">Mathematics for Computer Scientists</td>
      <td class="tg-0pky">Teaching Assistant</td>
      <td class="tg-0pky">Teaching support</td>
    </tr>
    <tr>
      <td class="tg-0pky">2020-2021</td>
      <td class="tg-0pky">Spring</td>
      <td class="tg-0pky">Fundamentals of Artificial Intelligence</td>
      <td class="tg-0pky">Teaching Assistant</td>
      <td class="tg-0pky">Teaching support</td>
    </tr>
    <tr>
      <td class="tg-0pky">2020-2021</td>
      <td class="tg-0pky">Autumn</td>
      <td class="tg-0pky">Mathematics for Computer Scientists;<br>Developing Maintainable Software</td>
      <td class="tg-0pky">Teaching Assistant</td>
      <td class="tg-0pky">Teaching support</td>
    </tr>
    <tr>
      <td class="tg-0pky">2019-2020</td>
      <td class="tg-0pky">Spring</td>
      <td class="tg-0pky">Fundamentals of Artificial Intelligence</td>
      <td class="tg-0pky">Teaching Assistant</td>
      <td class="tg-0pky">Teaching support</td>
    </tr>
    <tr>
      <td class="tg-0pky">2018-2019</td>
      <td class="tg-0pky">Spring</td>
      <td class="tg-0pky">Fundamentals of Artificial Intelligence</td>
      <td class="tg-0pky">Teaching Assistant</td>
      <td class="tg-0pky">Teaching support</td>
    </tr>
  </tbody>
  
</table>  

<!--
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}-->